// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'invoice';
@import 'bootstrap-datepicker.css';

.navbar-laravel {
  background-color: white;
  box-shadow: 2px 2px 4px $primary;
  @extend .p-3
}

.card, input, select, textarea, .btn-primary, .btn-outline-primary {
  box-shadow: 3px 3px 15px $primary;
}

a.carousel-item {
  text-decoration: none;
  text-underline: none;
  color: #000;
}

//.nav-link {
//  color: #636b6f;
//  padding: 0 25px;
//  font-size: 13px;
//  font-weight: 600;
//  letter-spacing: .1rem;
//  text-decoration: none;
//  text-transform: capitalize;
//}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.footer_notif_btn {
  margin-left: 1.5rem;
}

div.dropdown-menu a.dropdown-item {
  color: #636b6f;
  padding: .1rem 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: lowercase;

}

.card-cap1 {
  max-height: 200px;
}

a.btn.card-footer:hover {
  @extend .btn-primary
}

td.td_editable::before {
  font-family: FontAwesome;
  content: "\f044   ";
  color: #999;
}

td.td_editable {
  cursor: pointer;
  font-weight: bold;
}

td.td_editable:hover {
  cursor: pointer;
  font-weight: bold;
}

.shop-carousel-div {
  min-height: 275px;
  box-shadow: 2px 2px 4px $primary;
}

.hidden_li {
  display: none;
}

.brands_ul:hover > li.hidden_li {
  display: block;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

@media (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }
  .shop-carousel-item-name {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .text-sm-only-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50% !important;
  }
}