// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'invoice';

.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  @extend .p-3
}

.nav-link {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;

}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

div.dropdown-menu a.dropdown-item {
  color: #636b6f;
  padding: .1rem 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;

}

.card-cap1 {
  max-height: 200px;
}

a.btn.card-footer:hover {
  @extend .btn-dark
}

td.td_editable::before{
  font-family: FontAwesome;
  content: "\f044   ";
  color: #999;
}

td.td_editable{
  cursor: pointer;
  font-weight: bold;
}
td.td_editable:hover{
  cursor: pointer;
  font-weight: bold;
}